*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Patrick Hand', cursive;;
}
body{
    background-image: url(imagens/background.png);
    color: #ffff;
}

.title{
    background-image: url(imagens/background.png);
    max-width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

h1{
    font-size: 60px;
    font-weight: 200;
    letter-spacing:2px;
    text-transform: uppercase;
    margin-bottom: -35px;
}
h2{
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 4px;
    color:#FDB301 ;
    font-family:'Satisfy'
}

h3 {
    text-transform: uppercase;
    font-size: 40px;
    max-width: 140px;
    margin: 0 auto;
} 

hr{
    border: 2px solid white;
    position: absolute;
    top: 185px;
    width: 100%;
    z-index: -5;
}

.opcao{
    display: grid;
    column-gap: 80px;
    grid-template-columns: 120px 150px;
    grid-template-rows: repeat(12,40px);
    max-width: 490px; /*medidas corelacionadas, é oq faz a linha n distorcer*/
    margin: 0 auto;
    border-left: 3px solid white;
    margin-left: 19.5px;/*possivel alteração para ficar alinhado*/
    margin-bottom: 30px;
}

li{
    font-size:22px ;
    list-style: none;
    margin: 10px;
    text-transform: capitalize;
}

.bebidas{
    /* display: grid; */
    grid-template-columns: 400px 400px;
    max-width: 490px; /*medidas corelacionadas, é oq faz a linha n distorcer*/
    margin: 0 auto;
    margin-left: 19.5px;
    padding-left: 10px;
    border-left: 3px solid white;
    font-size: 40px;
    text-transform: uppercase;

}
.preco{
    background-color: #FDB301;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    color: #1e1e1e;
    padding-left: 2px;
}
.image{
    width: 100%;
    height: 180px;
    background-color: aqua;
}

/*PORÇÕES*/
.porcoes{
    height: 580px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    max-width: 500px;
    border-left: 3px solid #ffff
}
.porcoes h3{
    margin: 0;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 40px;
    text-transform: uppercase;
}
.suinas{
    margin-left: 15px;
    border-left: 3px solid #ffff;
}
h4{
    font-size: 25px;
    padding-left: 7px; /* a opação é paddinf de 15 px*/
    font-weight: 400;
}
.suinas div{
    padding-left: 9px;
    margin-bottom: 20px;
}
.principal{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: -7px;
}
.ac{
    font-size: 15px;
    font-weight: 200;
}

.gambiarra2{
    display:grid;
    grid-template-columns: 250px 110px;
}
.gambiarra2 > ul{
    padding-top: 40px;
}

.gambiarra2 > ul > li{
    margin-bottom: 33px;
}

/*PARMEGIANS*/
.parmegiana-container{
    height: 470px;
    width: 100%;
    max-width: 540px;
    margin: auto;
}    

.parmegiana-container > h3{
    text-transform: uppercase;
    font-size: 40px;
    max-width: 220px;
    margin: 0 auto;

}

.parmegiana-grid, .grid-salgados{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:repeat(4, 45px 35px);
    justify-items: center;
    row-gap: 10px;
}

.parmegiana-grid li{
    margin-top: -8px;
}

/*Massas*/

.massas{
    display: grid;
    width: 100%;
    max-width: 540px;
    margin: auto;
    grid-template-columns: 50% 50%;
    grid-template-rows:repeat(3,200px);
}

.flex{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}

.foto{
    background-color: rgb(68, 206, 41);
}

/*Guarnicoes*/
.guarnicoes{
    width: 100%;
    margin: 0 auto;
    height: 420px;
    margin-top: 20px;
    max-width: 540px;
    margin-left: 19.5px;
    padding-left: 10px;
    display: grid;
    grid-template-columns:40% 50%;
    grid-template-rows: repeat(4,100px);
    justify-items: flex-start;
    column-gap: 20px;
    border-left: 3px solid white;}

.guarnicoes > p{
    margin-top: 7px;
}

.flex-guarnicao{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}
.flex-guarnicao > li{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    color: #1e1e1e;
    padding-left: 2px;
    padding-top: 2px;
    font-size: 17.5px;
}

.flex-guarnicao > p{
    letter-spacing: 35px;
    padding-left: 35px;
    margin-top: -30px;
}

/*Salgados*/

.grid-salgados > li{
    margin-top: -12px;
}

/*Aperitivos*/

.aperitivos{
    width: 100%;
    margin: 0 auto;
    height: 450px;
    margin-top: 20px;
    max-width: 540px;
    padding-left: 10px;
    margin-left: 19.5px;
    display: grid;
    grid-template-columns: 150px 92px 92px;
    grid-template-rows: repeat(5,120px);
    column-gap: 7px;
    border-left: 3px solid white;
   
}

.flex-price{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-price > .preco{
    width: 75px;
    font-size: 18px;
    margin: 10px 0px 3px 0px;
}
.flex-price > .principal{
    margin-top: -40px;
    height: 30px;
    font-size: 18px;
}

/*MENU*/

@media(max-width:700px){

    a{
        color: #ffff;
        text-decoration: none;
    }
    
    a:hover{
        background-color:#FDB301;
        
    }
    
    #header{
        box-sizing: border-box;
        height: 120px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #010101;
        width: 100%;
    }
    
    #menu{
        display: flex;
        list-style: none;
        gap: 0.5rem;
    }
    
    #menu a {
        display: block;
        padding: 8px 8px;
        margin: 0 1rem ;
        border-bottom:  2px solid #ffff;
        font-size: 16px;
        text-transform: uppercase;
    }
    
    #btn-mobile{
        display: none;
        color: #e7e7e7;
    }
    
    #logo{margin-left: 20px;}

    #menu{
        display: block;
        position: absolute;
        min-width: 165px;
        width: 50%;/*alterado width 100%*/
        top:120px;
        left:0px;  /*alterado right 0px */
        background: #010101;
        transition: 0.6s;
        height: 0px;
        z-index: 5;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu{
        height: calc(88vh - 120px); /*possivel alteração*/
        visibility: visible;
        overflow-y: auto;/*pode ser que retire*/
        border-bottom-right-radius: 10px;
    }
    
    /*Animação do Menu Hamburger*/
    #nav.active #hamburger{border-top-color: transparent;}

    #nav.active #hamburger::before{transform: rotate(135deg);}

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
 
    #informacoes{
        margin: 10px;
        color: #e7e7e7;
        font-size: 17px;
    }

    #contato{
        display: flex;
        align-items: center;
        width: 100%;
    }
    #contato img{ width:30px; height: 30px;}
    #contato > p > a {
        margin:5px 0px 9px 5px;
        padding: 0;
        border-bottom: none;
    }

    #funcionamento{
        margin: 10px auto;
        padding: 5px 7px;
        height: 55px;
        width:170px;
        min-width: 155px;
        border-radius: 15px;
        color: #1E1E1E;
        background-color: #FDB301;
    }
    #funcionamento p{
        font-size: 18px;
        text-align: center;
    }
    #domingo{
        width: 120px;
        margin: 0 auto;
        color: #FDB301;
        font-size: 16px; 
    }

    #btn-mobile{
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        font-size: 18px;
    }

    #hamburger{
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after , #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 1.0s;
        position: relative;
    }
}